* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    color: #777777;
}

#content {
    color: #777
}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 100px;
    background: #777;
}

#header {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    margin-bottom: -10px;
}

#nav {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
}

#section {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    left: -40px;
    width: 400px;
    top: 300px;
    height: 230px;
    margin-bottom: -20px;
}

#article {
    background: #777;
    padding: 20px;
    text-align: center;
    width: 365px;
    height: 150px;
    margin-top: 20px;
    color: #ebebeb;
}

#headers {
    background: #ebebeb ;
    text-align: center;
    width: 320px;
    height: 20px;
    padding: 20px;
    position: absolute;
    bottom: 370px;
    left: 465px;
    margin-bottom: -10px;
}

#p {
    background: #ebebeb;
    text-align: center;
    width: 320px;
    position: absolute;
    height: 20px;
    padding: 20px;
    bottom: 310px;
    left: 465px;
    margin-bottom: 0px;
}

#aside {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    width: 340px;
    height: 230px;
    position: fixed;
    top: 262px;
    right: 420px;
}

#footer {
    background: #ebebeb;
    padding: 20px;
    text-align: center;
}
